<mat-nav-list>
    <div class="profile-card">
        <div class="header pointer  " (click)="logout()">
            <h2>{{services.userName}}</h2>
            <h4>{{services.Perfil}}</h4>
        </div>
        <img src="../../../../assets/images/MicrosoftTeams-image.png" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Menu Principal</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/chamadas">Chamadas</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/tickets">Tickets</a>
    

    <mat-divider></mat-divider>

    <h2 matSubheader>Administração</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/assuntos">Assuntos</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/endpoints">
        <mat-icon>import_contacts</mat-icon>
        Empresas e EndPoints
    </a>
    

    <a mat-list-item routerLinkActive="list-item-active" (click)="logout()">
        <mat-icon>logout</mat-icon>
        LogOut
    </a>

</mat-nav-list>