<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Evertonildo Maia</h2>
            <h4>evertonildo@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Menu Principal</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/chamadas">Chamadas</a>
    <!--a mat-list-item routerLinkActive="list-item-active" routerLink="/tickets">Tickets</a-->
    

    <mat-divider></mat-divider>

    <h2 matSubheader>Administração</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/assuntos">Assuntos</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/endpoints">
        <mat-icon>import_contacts</mat-icon>
        Empresas e EndPoints
    </a>
    

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>